<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fusion Gear</title>
   <!-- Add these in the head tag -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/user/header.css" />
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

   
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo d-flex align-item-center justify-content-center flex-row" >
                        <a href="/" class="mb-5"><img src="/img/logo.png" alt="" srcset=""></a>
                        <p class="logo-head mt-3">Fusion Gear</p><div class="round"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class=""><a href="/">Home</a></li>
                            <li class=""><a href="/products">Products</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <% if(!user) { %>
                            <a href="/signup" class="signup-link text-danger">Sign Up</a>
                            <a href="/login" class="login-link text-danger">Login</a>
                        <% } else { %>
                            <div class="dropdown">
                                <a href="#" class="sign-in-link"><%= user.full_name %></a>
                                <div class="dropdown-content mt-4">
                                    <a href="/userProfile?id=<%=user._id%>"> <i class="fa-regular fa-user"></i> Profile</a>
                                    <a href="/wallet"><i class="fa-solid fa-wallet"></i>  Wallet</a>
                                    <a href="/order-confirm"> <i class="fa-solid fa-box"></i>  Orders</a>
                                    <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                                </div>
                            </div>
                        <% } %>
                        <a href="javascript:void(0);" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
                        <a href="/wishlist"><img src="/img/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="/img/icon/cart.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>

        <!-- Offcanvas Menu (hidden initially) -->
        <div class="offcanvas-menu-overlay"></div>
        <div class="offcanvas-menu-wrapper">
            <div class="offcanvas__menu">
                <div class="offcanvas__top__hover">
                    <span>Explore<i class="fa fa-chevron-down"></i></span>
                    <ul>
                        <li> <a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li> <a href="/wishlist">Wishlist</a></li>
                        <li> <a href="/cart">Cart</a></li>
                        <li> <a href="/wallet">Wallet</a></li>
                        <li><a href="/order-confirm">  Orders</a></li>
                    </ul>
                </div>
            </div>

            <div class="offcanvas__nav__option">
               
              
                <a href="javascript:void(0);" class="search-switch"><img src="/img/icon/search.png" alt="">Search</a>
               
               
            </div>

            <div class="offcanvas__links">
                <% if(!user) { %>
                    <a href="/signup" class="signup-link text-danger">Sign Up</a>
                    <a href="/login" class="login-link text-danger">Login</a>
                <% } else { %>
                    <div class="dropdown">
                        <a href="/userProfile?id=<%=user._id%>" class="sign-in-link"><%= user.full_name %></a>
                    </div>
                <% } %>
            </div>
        </div>
    </header>
 