<%- include('../../views/partials/admin/header') %>
<link rel="stylesheet" href="/css/admin/coupon.css">


<form id="coupon-form" action="/admin/add-coupon" method="POST">
    <h2><strong>Add New Coupon</strong></h2>
    <label for="code">Coupon Code</label>
    <input type="text" id="code" name="code">
    <span id="code-error" class="error-message"></span>

    <label for="description">Description</label>
    <input type="text" id="description" name="description">
    <span id="description-error" class="error-message"></span>

    <label for="discountType">Discount Type</label>
    <select id="discountType" name="discountType">
        <option value="percentage">Percentage</option>
        <option value="fixed">Fixed Amount</option>
    </select>
    <div id="discountType-error" class="error-message"></div>

    <div id="discountValueFields">
        <label for="discountValue">Discount Value</label>
        <input type="number" id="discountValue" name="discountValue">
        <span id="discountValue-error" class="error-message"></span>
    </div>

    <label for="startDate">Start Date</label>
    <input type="date" id="startDate" name="startDate">
    <span id="startDate-error" class="error-message"></span>

    <label for="endDate">End Date</label>
    <input type="date" id="endDate" name="endDate">
    <span id="endDate-error" class="error-message"></span>

    <div>
        <label for="minOrderValue">Minimum Order Value</label>
        <input type="number" id="minOrderValue" name="minOrderValue">
        <span id="minOrderValue-error" class="error-message"></span>

    </div>
    
    <button class="add-coupon" type="submit" >Create Coupon</button>
</form>

<script src="/js/admin/coupon-validation.js"></script>
    
<%- include('../../views/partials/admin/footer') %>
