<%- include('../../views/partials/admin/header') %>

<div class="container mt-5">
    <h2 class="mb-4">Add New Category</h2>

    <% if (flash.error) { %>
        <div class="alert alert-danger w-25 alert-dismissible fade show" role="alert">
            <%= flash.error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <% if (flash.success) { %>
        <div class="alert alert-success w-25 alert-dismissible fade show" role="alert">
            <%= flash.success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <form id="form-submit" action="/admin/addcategory" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Category Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter category name">
            <div id="nameError" class="error-message text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter category description"></textarea>
            <div id="descriptionError" class="error-message text-danger"></div>
        </div>


        <button type="submit" class="btn btn-primary">Add item</button>
    </form>
</div>

<script>
    const formSubmit = document.getElementById('form-submit');
    const nameField = document.getElementById('name');
    const descriptionField = document.getElementById('description');

    const nameError = document.getElementById('nameError');
    const descriptionError = document.getElementById('descriptionError');

    function formValidation() {
        let isValid = true;

        if (nameField.value.trim() === '') {
            nameError.innerText = "Please enter a category name.";
            isValid = false;
        } else {
            nameError.innerText = "";
        }

        if (descriptionField.value.trim() === '') {
            descriptionError.innerText = "Please enter a description.";
            isValid = false;
        } else {
            descriptionError.innerText = "";
        }
        return isValid;  // Return true if valid, false if not
    }

    formSubmit.addEventListener('submit', (e) => {
        e.preventDefault(); 
      
        if (formValidation()) {
            formSubmit.submit(); 
        }
    });
</script>

<%- include('../../views/partials/admin/footer') %>
