<%- include('../../views/partials/admin/header') %>


<div class="container mt-5 w-50">
  <h2 class="mb-4 mt-3"><strong>Add New Category</strong></h2>

  <% if (flash.error) { %>
  <div
    class="alert alert-danger w-50 text-center alert-dismissible fade show"
    role="alert"
  >
    <%= flash.error %>
  </div>
  <% } %> <% if (flash.success) { %>
  <div
    class="alert alert-success w-50 text-center alert-dismissible fade show"
    role="alert"
  >
    <%= flash.success %>
  </div>
  <% } %>

  <form id="form-submit" action="/admin/addcategory" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Category Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter category name"
      />
      <div id="nameError" class="error-message text-danger"></div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
        placeholder="Enter category description"
      ></textarea>
      <div id="descriptionError" class="error-message text-danger"></div>
    </div>

    <div class="mb-3">
      <label for="percentage" class="form-label">Discount(%)</label>
      <input
        type="Number"
        class="form-control"
        id="percentage"
        name="percentage"
        rows="3"
        placeholder="Enter discount percentage"
      />
      <div id="discountError" class="error-message text-danger"></div>
    </div>
    <div class="mb-3">
      <label for="start_Date" class="form-label">Start Date</label>
      <input
        type="date"
        class="form-control"
        id="start_Date"
        name="startDate"
        rows="3"
        placeholder="Enter starting dating"
      />
      <div id="start_DateError" class="error-message text-danger"></div>
    </div>
    <div class="mb-3">
      <label for="end_Date" class="form-label">End Date</label>
      <input
        type="date"
        class="form-control"
        id="end_Date"
        name="endDate"
        rows="3"
        placeholder="Enter starting dating"
      />
      <div id="end_DateError" class="error-message text-danger"></div>
    </div>

    <button type="submit" class="btn btn-primary">Add item</button>
  </form>
</div>

<script src="/js/admin/category.js"></script>

<%- include('../../views/partials/admin/footer') %>
