*{
    box-sizing: border-box;
}
body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color:  #0D0C22;
    box-sizing: border-box;
    height: 120vh;

}
.signup-body{
    display: flex;
/*
    overflow: hidden; */
}

/* login */
.signup-container {
    position: absolute;
    right: 20%;
    top:10px;
    max-width:360px;
    text-align: center;
}

input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    height: 45px;
    margin-top:10px;
    margin-bottom: 10px;
    /* border-radius: 5px; */
}


input[type="text"],
input[type="password"],
input[type="email"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-size: clamp(10px, 5vw, 14px);
    position: relative;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder, 
input[type="email"]::placeholder {
    color: #aaa;
    transition: transform 0.3s ease, font-size 0.3s ease;
}
/* placeholder animation */
input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="text"]:not(:placeholder-shown)::placeholder,
input[type="password"]:not(:placeholder-shown)::placeholder, 
input[type="email"]:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 0.75rem;
    padding-left: 5px;

}

.btn {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.signup-btn{
  background-color: #0D0C22;
  color: white;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
}

.signup-btn:hover{

  background-color:#E0FB4A;
  color: #000;

}

.signup-otp{
  width: 250px;
  height: 50px;
  background-color: #0F110E;
}

.signup-otp:hover{
background-color: rgba(224, 251, 74, 1);
color: black;
}

.signup-google{
  width: 250px;
  height: 50px;
  border: 2px dotted #000;
}

.signup-google:hover{
  border: 2px solid #780000;
}


.otp-sign{
  color: white;
}
.otp-sign:hover{
  color: #000;
}

.google-sign{
  color: #000;
}

.google-sign:hover{
  color:#28B446;
}

.image{
    display: block;
    width: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 120vh;
    /* overflow: hidden; */
}

.error-message {
    font-size: 0.75rem;
}


.google-icon{
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-bottom: 4px;
}
span{
  font-size: 14px;
}
 .login-link{
  color: #000;
  margin-left: 5px;
 }
.login-link:hover{
  color:#780000;
}
