body {
    background-color: #ffffff;
}
.navbar {
    background-color: #8da7ab;
}
.navbar-aside {
    background-color: #b0d5de;
}
.menu-item a.menu-link {
    color: #310505;
}

.menu-item a.menu-link:hover,
.menu-item a.menu-link.active {
    background-color: #6e7e6e; 
    color: #ffffff;
}
.dropdown-menu {
    background-color: #bb9aaf;
}

.dropdown-item:hover {
    background-color: #33053d;
    color: #ffffff;
}
