<%- include('../../views/partials/user/header') %>


<div class="mt-5" id="addressFormContainer" style="display: none;">
    <h2 class="mb-4">Add New Address</h2>
    <form id="addressForm" action="/address-view" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="recipient_name" name="recipient_name">
            <div id="error1" class="error-message"></div>
        </div>
        <div class="mb-3">
            <label for="streetAddress" class="form-label">Street Address</label>
            <input type="text" class="form-control" id="streetAddress" name="streetAddress">
            <div id="error2" class="error-message"></div>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city">
            <div id="error3" class="error-message"></div>
        </div>
        <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state">
            <div id="error4" class="error-message"></div>
        </div>
        <div class="mb-3">
            <label for="landMark" class="form-label">Landmark (Optional)</label>
            <input type="text" class="form-control" id="landMark" name="landMark">
        </div>
        <div class="mb-3">
            <label for="pincode" class="form-label">Pincode</label>
            <input type="text" class="form-control" id="pincode" name="pincode">
            <div id="error5" class="error-message"></div>
        </div>

        <div class="mb-3">
            <label for="Phone" class="form-label">Phone No:</label>
            <input type="tel" class="form-control" id="phone" name="phone"  placeholder="10-digit phone number">
            <div id="error6" class="error-message"></div>
        </div>
        <div class="mb-3">
            <label for="altPhone" class="form-label">Alternate Phone (Optional)</label>
            <input type="tel" class="form-control" id="altPhone" name="altPhone"  placeholder="10-digit phone number">
        </div>

        <div class="mb-3">
            <label class="form-label">Address Type</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="addressType" id="home" value="Home">
                <label class="form-check-label" for="home">Home</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="addressType" id="work" value="Work">
                <label class="form-check-label" for="work">Work</label>
            </div>
            <div id="error7" class="error-message"></div>
        </div>

        <button type="submit" id="submit-btn" class="btn btn-primary mt-3">Add Address</button>
    </form>
    </div>
</div>
</div>


<%- include('../../views/partials/user/footer') %>
