<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>


<style>
    input{
        width: 500px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 2px;
        background-color: white;
        color: #000;
    }
    .reset-btn{
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 4px;
        width:150px;
        height : 50px;
        margin-top:20px;
    }
    .reset-btn:hover{
        color: #000;
        background-color:#fff;
        border:1px solid #000;
    }
</style>
<body>
    <div class="container w-25 mt-5 pt-5">
        <h2>Reset Password</h2>
        <form id="reset-form" action="/reset-password?token=<%= token %>" method="POST">
            <label for="newPassword">New Password</label>
            <input id="newPassword" type="password" name="newPassword" required>
        <div id="error1"></div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" required>
        
            <button class="reset-btn" type="submit">Reset Password</button>
        
            <% if (flash.error) { %>
                <p><%= flash.error %></p>
            <% } %>
        </form>
    </div>



</body>



</html>
