.badge{
    background-color:#0000002c;
    font-size: 12px;
}
.list-group-item {
position: relative;
}

.more-options {
position: absolute;
top: 10px;
right: 10px;
}

.more-options .btn {
padding: 0;
background: transparent;
border: none;
cursor: pointer;
color: inherit;
}


.more-options i {
color: #333; /* You can change this to any color you prefer */
}

/* Optional: Change the color when hovering over the button */
.more-options .btn:hover i {
color: #000; /* Set the hover color for the icon */
}

/* Dropdown list initially hidden */
.dropdown-list {
display: none;
position: absolute;
right: 0;
top: 0;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
width: 100px;
z-index: 10;
}


.more-options:hover .dropdown-list {
display: block;
}

.dropdown-item {
padding: 8px 12px;
text-decoration: none;
color: #333;
cursor: pointer;
display: block;
font-size: 14px;
}


.dropdown-item:hover {
background-color: #f0f0f0;
color: rgba(0, 0, 255, 0.616);
}
.error-message {
color: red;
font-size: 14px;
}

.form-check-label{
margin-bottom: 23px;
font-size: 14px;
font-weight: 600;
}
.form-control{
width : 400px;
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .form-control {
        width: 300px;
    }

    .badge {
        font-size: 11px;
        padding: 4px 8px;
    }

    .dropdown-list {
        width: 110px;
    }
}


@media only screen and (max-width: 767px) {
    .form-control {
        width: 100%;
    }

    .badge {
        font-size: 10px;
        padding: 3px 6px;
    }

    .more-options {
        top: 5px;
        right: 5px;
    }

    .dropdown-list {
        width: 100px;
        font-size: 13px;
    }
    .address-head{
        font-size:24px;
    }
}

/* Extra Small Screens (Less than 480px) */
@media only screen and (max-width: 479px) {
    .address-head{
        font-size: 18px;
    }
    .form-control {
        width: 50%;
        font-size: 12px;
    }

    .badge {
        font-size: 2px;
        padding: 3px 5px;
    }

    .dropdown-list {
        width: 90px;
        font-size: 12px;
    }

    .more-options {
        top: 5px;
        right: 5px;
    }

    .dropdown-item {
        padding: 6px 10px;
    }
    .list-group-item h6{
        font-size: 14px;
    }
    .list-group-item strong{
        font-size: 12px;
    }
    .list-group-item span{
        font-size: 12px;
    }
}