.product__item{
    border-radius: 2px;
    border : 1px solid #0000;
}
.alert{
    margin-top: -100px;
    margin-left: 500px;
}

.description p {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 100%; /* Adjust to fit your layout */
}

.product-badge {
position: absolute;
top: 10px;
right: 10px;
background-color: #ff6b6b;
color: white;
padding: 5px 10px;
border-radius: 5px;
font-size: 10px;
font-weight: 600;
text-transform: uppercase;
}

.product-badge.available {
background-color: #28a745; /* Green for Available */
}

.product-badge.sold-out {
background-color: #dc3545; /* Red for Sold Out */
}

.product-badge.unavailable {
background-color: #ffc107;
}

.product-badge.out-of-stock {
background-color: #6c757d; /* Grey for Out of Stock */
}
.product-empty{
    margin-left: 300px;
    margin-top: 100px;
}