.product__item{
    border-radius: 2px;
    border : 1px solid #0000;
}
.alert{
    margin-top: -100px;
    margin-left: 500px;
}

.description p {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 100%;
}

.product-badge {
position: absolute;
top: 10px;
right: 10px;
background-color: #ff6b6b;
color: white;
padding: 5px 10px;
border-radius: 5px;
font-size: 10px;
font-weight: 600;
text-transform: uppercase;
}

.product-badge.available {
background-color: #28a745; /* Green for Available */
}

.product-badge.sold-out {
background-color: #dc3545; /* Red for Sold Out */
}

.product-badge.unavailable {
background-color: #ffc107;
}

.product-badge.out-of-stock {
background-color: #6c757d; /* Grey for Out of Stock */
}
.product-empty{
    margin-left: 300px;
    margin-top: 100px;
}

/* Product Card Container */
.product-card {
    position: relative;
    border-radius: 10px;
	
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.089);
}

/* Product Image and Overlay */
.product-image img {
	object-fit: cover;
	object-position: top center;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.product-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 63%;
    background-color: rgba(0, 0, 0, 0.178);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-card:hover .product-overlay {
    opacity: 1;
}

.overlay-icon {
    margin: 0 10px;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Product Details */
.product-details {
    padding: 15px;
    text-align: center;
}

.product-name {
    font-weight: 600;
    font-size: 1.1em;
    color: #333;
	text-align: left;
}

.product-price {
	position: relative;
	top:-20px;
    color: #000;
    font-weight: 600;
    font-size: 1em;
	text-align: left;
}

/* Add to Cart Button */
.add-cart-btn {
    background-color:#000;

    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-cart-link {
	color: #fff;
}

.add-cart-btn:hover {
   background-color: #fff;
  
   border: 1px solid #000;
}

.add-cart-link:hover{
	color : #000;
}

