.profile-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin-left: 30px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  /* Sidebar styles */
  .sidebar {
    width: 400px;
    background-color: #f3f4f6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.75px dotted #e0e0e0;
    border-radius: 4px;
  }
  
  .profile-details {
      display: flex;
      margin-right: 20px;
      margin:20px 70px 0px 0px;
  }
  
  .profile-pic .avatar {
      width: 80px;
      height:80px;
      border-radius: 50%;
      margin-bottom: 0;
      object-fit: cover;
      border: 2px dotted #00000044;
  }
  .profile-pic .avatar:hover{
    border: 2px solid #000;
  }

  .user-info {
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .user-name {
      font-weight: bold;
  }
  
  .user-email {
      font-size: 14px;
      color: #555;
  }
  
  .edit-btn, .logout-btn {
    margin: 15px 0;
    padding: 10px 20px;
    border: 1px dotted #000;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s;
  }

  .edit-btn:hover, .logout-btn:hover {
    background-color: #000;
    color: #fff;
  }

  .nav-list {
    list-style: none;
    width: 100%;
    margin-top: 20px;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .nav-list a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .nav-list a:hover {
    background-color: #e0e0e0;
  }

  /* Content area styles */
  .content-area {
    flex: 1;
    width: 300px;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 20px;

  }

  .content-area h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;

  }

  .hidden {
    display: none;
  }

  form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  form button {
    background-color:#003049;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  form button:hover {
    background-color: #780000;
  }

  /* Responsive design */
  @media (max-width: 768px) {
    .profile-container {
      flex-direction: column;
    }
    .sidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #e0e0e0;
    }
    .content-area {
      padding: 15px;
    }
  }



  .nav-list a.active {
    background-color: #0000006e;
    color: white;
    border-left: 5px solid #000;
}

.logout-btn a{
  color: #000;
}
.logout-btn a:hover{
  color:#fff;
}