<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fusion Gear</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <link href="/admin/css/main.css" rel="stylesheet" type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar {
    width: 250px;
    background-color:#fdf0d5;
    height: 130vh;
}
a{
    text-decoration: none;
}

.sidebar .nav-link {
    transition: background-color 0.3s;
    color: #000;
    font-weight: 500;
    padding: 15px;
    text-align: center;
}

.sidebar .nav-link:hover {
    background-color: #c1121f;
    color: #fff;
}

.icon-custom {
    margin-right: 10px;
}
.table-light {
    background-color: #f8f9fa;
}

.table-secondary{
  font-size: 14px;
}

.table-light th,
.table-light td {
    vertical-align: middle; 
   
}
.btn-sm {
    margin-right: 5px;
    margin-left: 5px;
}

.pagination-container .page-link {
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
}

.pagination-container .current-page {
    padding: 0.5rem 1rem; /* Match padding with links */
    color:red; /* Text color for the current page */
}

.error-message{
  font-size: 14px;
  color: red;
}


@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
}

    </style>
</head>
<body>
    <header class="d-flex justify-content-between align-items-center p-3 bg-light border-bottom">
        <div class="admin-title">Admin Dashboard</div>
        <div class="profile-dropdown">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="/admin_profile">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- Sidebar -->
      <div class="d-flex">
        <nav class="flex-column pt-4 sidebar">
            <a href="/admin/dashboard" class="nav-link d-flex align-items-center">
                <i class="icon-custom"></i> Dashboard
              </a>
          <a href="/admin/users" class="nav-link d-flex align-items-center">
            <i class="icon-custom"></i> Customers
          </a>
          <a href="/admin/category" class="nav-link d-flex align-items-center">
            <i class="icon-custom"></i> Category
          </a>
          <a href="/admin/products" class="nav-link d-flex align-items-center">
            <i class="icon-custom"></i> Product
          </a>
          <a href="/admin/add-products" class="nav-link d-flex align-items-center">
            <i class="icon-custom"></i> Add Product
          </a>
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="icon-custom"></i> Banner
          </a>
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="icon-custom"></i> Coupon
          </a>
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="icon-custom"></i> Offers
          </a>
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="icon-custom"></i> Orders
          </a>
        </nav>

